extends ./layout.pug

block content
    h1.about About Us
    hr
    p Pine & Bark was started with our love for nature and our pets. We believe that wood is one of the most beautiful materials in the world. 