extends ./layout.pug

block content
  div(class="card" style="width: 18rem;")
    img(class="card-img-top" src='/img/products/' + product.image alt="product.image")
    div(class="card-body")
      h5(class="card-title")= product.name
      p(class="card-text")= product.name
      

block bottomNavigation
  a(href="/" class="btn btn-link") Go back

block footer
  div(style="background-color: red")=product.name